.main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.horizontal_bar {
    width: 100%;
    background: #ffd3af;
    height: 8dvh;
    position: fixed;
    z-index: 50;
    display: flex;
    justify-content: space-between;
}

.left_side {
    height: 100%;
    display: flex;
    align-items: center;
}

.right_side {
    display: flex;
    align-items: center;
}

.vertical_bar {
    width: 17%;
    height: 100dvh;
    padding-top: 60px;
    background: #fff;
    position: fixed;
    z-index: 30;
    outline: 1px solid #ffd3af;
}

.page_atual {
    font-size: 1.2em;
    margin-left: 10px;
}

.img_link {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lmc_logo {
    height: 60px;
    padding-left: 30px;
}

.configuracoes_popovergear {
    margin-right: 20px;
    height: 60%;
    width: 50px;
    background: none;
    border: 0;
    cursor: pointer;
    background-size: fit;
    anchor-name: --gear;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 26 26' fill='none' stroke='black' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'><g vector-effect='non-scaling-stroke'><path d='M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915'/><circle cx='12' cy='12' r='3'/></g></svg>");
}

.configuracoes_botao_container {
    display: block;
    background-color: #ffc08c;
    position: fixed;
    position-anchor: --gear;
    position-area: bottom;
    margin-right: 10px;
    border-radius: 20px;
}

.configuracoes_botao {
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}

.configuracoes_botao:hover {
    background-color: #d66000;
}

.area_grid{
    width: 70%;
    height: 35vh;
    margin-top: 13vh;
    margin-left: 23%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.programacao{
    width: 80%;
    height: 30vh;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px #00000056;
}

.prog_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prog_header h1{
    margin-top: 5px;
    margin-left: 15px;
    color: #EA641E;
}

.prog_header button{
    width: 150px;
    height: 30px;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    font-size: 0.9em;
    color: #fff;
    background-color: #F39911;
}

.prog_header button:hover{
    cursor: pointer;
    background-color: #ffa012;
}

.prog_header button:active{
    background-color: #db8a10;
}
.prog_content{
    width: 100%;
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr;
}

.prog_content h3{
    margin-top: auto;
    margin-left: 15px;
    font-size: 1.25em;
    font-weight: 500;
    color: #7474749d;
}

.prog_info{
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    gap: 15px;
    color: #747474;
}

.prog_info img{
    width: 230px;
    height: 130px;
}

#prog_titulo{
    margin: 0;
    font-weight: 500;
    color: #000;
}

#prog_horario{
    margin-bottom: 15px;
}

.profile{
    width: 80%;
    height: 30vh;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px #00000056;
}

.profile_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_header h1{
    margin-top: 5px;
    margin-left: 15px;
    color: #EA641E;
}

.profile_header button{
    width: 90px;
    height: 30px;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    font-size: 0.9em;
    color: #fff;
    background-color: #F39911;
}

.profile_content{
    width: 100%;
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr;
}
